.homepage {
  min-height: 100vh;
  /* background-color: #f9fafb; */
   /* background-color: #cdf1eefb; */
  width: 100%;
  margin: 0;
  padding: 0;
    background-color: #f9fafb;
}

.homepage-container {
 /* max-width: 1400px; */
  width: 100%; 
  margin:  auto;
  padding: 4rem 2rem;
   box-sizing: border-box;
   background-color: #f9fafb;
}
/* .homepage-disease-title-wrapper {
  text-align: center;
  display: inline-block;
  position: relative;
  margin: 0 auto 5rem auto;
} */

.homepage-disease-title {
  font-size: 3.4rem;
  font-weight: bold;
  text-align: center;
  color: #1f2937;
  margin: 0;
  /* padding-bottom: 1rem; */
}

/* underline PNG */
.homepage-disease-underline {
  display: block;
  width: 100%;
  height: 2.8rem; /* adjust based on PNG height */
  background-image: url("../assets/vector underline.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto 5rem auto;
  /* tint the PNG to teal #115e59 */
  filter:invert(30%) sepia(92%) saturate(510%) hue-rotate(128deg) brightness(95%) contrast(95%);
}
/* .disease-grid {
  display: grid;
  gap: 2rem;
  width: 100%;
  margin: 0 auto 4rem auto;
  justify-items: center;
} */

/* Mobiles */
@media (max-width: 767px) {
  .disease-grid {
    grid-template-columns: 1fr;
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  .disease-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Laptops */
@media (min-width: 1024px) and (max-width: 1399px) {
  .disease-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Large Desktop */
@media (min-width: 1400px) {
  .disease-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
